<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--font-awesom-->
    <script src="https://kit.fontawesome.com/5d2b927f52.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../components/resume.css">
  
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <!-- <div class="container"> -->
    <div class="container">
          <!--annimation button-->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <button type="button" class="btn btn-outline-warning mb-md-3 mt-sm-0 " id="fa">Form</button> <!--mx-auto d-block mt-5 mb-5-->
        </div>
    </div>
    </div>
    <!--form container-->
    <div class="container bg-dark text-warning" id="formCon"> <!--mt-5 mb-5-->
        <div class="row"> <!-- mt-5 mb-5-->
            <div class="col-md-12 col-sm-12">
            <form class="p-md-5 p-sm-0" id="f"> <!--p-md-5 p-sm-0-->
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="f1" placeholder="Enter-Name"/>
                  </div>
                  <!-- row for contact -->
                <div class="form-row">
                  <div class="col-md-4">
                    <label>CONTACT</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Location" id="f2" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone#" id="f3"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="e-mail" id="f4"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="website-url" id="f5"/>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label>EDUCATION</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Graduation-year" id="f6"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="G-Degree" id="f7"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="G-Institute" id="f8"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="I-year" id="f9"/>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label>EDUCATION</label>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="I-Degree" id="f10"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="I-Institute" id="f11"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="M-Year" id="f12"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="M-Degree" id="f13"/>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="M-Institute" id="f14"/>
                        </div>
                    </div>
                </div> 
                    </div>
                </div>
                <div class="-row">
                    <!-- SKILLS -->
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>SKILLS</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter-each-skill-and-press-enter-enter-all-skills-onebyone" id="f15"/>
                                    <!-- <textarea  id="f15" cols="10" rows="10" class="form-control"></textarea> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>RANGE</label>
                                <div class="form-group">
                                    <input type="range" class="form-control-range" id="range" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label>ABOUT_ME</label>
                                <div class="form-group">
                                <textarea id="AM" cols="10" rows="17" class="form-control"></textarea>
                                </div>
                    </div>
                      <!--work1:-->
                    <div class="col-md-6">
                        <label>WORK_EXPERIENCE1</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="wy" placeholder="work_year" />
                        </div> 
                        <div class="form-group">
                            <input type="text" class="form-control" id="waa" placeholder="work_As_a" />
                        </div> 
                        <div class="form-group">
                            <input type="text" class="form-control" id="wt" placeholder="work_which_Technologies" />
                        </div> 
                        <div class="form-group">
                            <textarea id="wd" cols="7" rows="7" class="form-control" placeholder="exp_details"></textarea>
                            </div>
                            <div class="form-group">
                                <label>IMP_WORK_POINTS</label>
                                <input type="text" class="form-control" id="i_w_p" placeholder="write-one-by-one-and-enter" />
                            </div> 
                    </div>
                </div>
                <!--work2:-->
                <div class="row">
                    <div class="col-md-12">
                        <label>WORK_EXPERIENCE2</label>
                        <div class="form-row">
                            <!-- <label>WORK_EXPERIENCE2</label> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="workYear2" placeholder="work_year" />
                                </div> 
                                <div class="form-group">
                                    <input type="text" class="form-control" id="workAsA2" placeholder="work_As_a" />
                                </div> 
                                <div class="form-group">
                                    <input type="text" class="form-control" id="workTech2" placeholder="work_which_Technologies" />
                                </div> 
                                <div class="form-group">
                                    <label>IMP_WORK_POINTS</label>
                                    <input type="text" class="form-control" id="workPoint2" placeholder="write-one-by-one-and-enter" />
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="workDetail2" cols="9" rows="9" class="form-control" placeholder="exp_details"></textarea>
                                    </div>
                                   
                            </div>
                        </div>
                    </div>
                </div>
       
                <label>REFERENCE</label>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="r1" placeholder="ref 1_5" />
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="r2" placeholder="ref 6_10" />
                        </div> 
                    </div>
                </div>
                <!--image part-->
                <div class="form-row">
                    <label>Select Profile</label>
                    <div class="col-md-12">
                        <input type="file" id="imgUpload"/>
                    </div>
                </div>
                <!--button-->
                <button type="submit" class="btn btn-outline-warning mx-auto d-block mt-md-5 mt-sm-2">Submit</button> <!--mx-auto d-block mt-5-->
               </form>
            </div>
        </div>
    </div>
    <div class="container">
        <!--annimation button-->
  <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn btn-outline-danger mb-md-3 mb-sm-0" id="resume">Resume</button> <!--mx-auto d-block mt-3 mb-3-->
      </div>
  </div>
  </div>
   
    <div class="container" id="cv">
        <div class="row">
            <!--side bar design-->
            <div class="col-md-4" id="sideBar" >
                <!--1st row-->
                <div class="row">
                    <!-- <img src="../images/p1.PNG" alt="profile" class="m-0" width="100%" /> -->
                    <img src="#" alt="profile" id="imgTage"  class="m-0" width="100%"/>
                    <div class="col-md-12">
                        <div class="container">
                            <!--2nd row-->
                            <div class="row mt-md-3">
                                <div class="col-md-12">
                                    <h3 class="text-center" id="name">Mahnoor</h3>
                                    <hr color="white" class="w-25 mt-md-0">
                                </div>
                            </div> <!--row end-->
                            <div class="row">

                                <!--row2 below contact-->
                                <!--inside it contact row start-->
                                <div class="row mt-md-3">
                                    <div class="col-md-12">
                                        <h3 class="ml-md-3">CONTACT</h3>
                                        <hr color="white" class="w-25 mt-0 ml-3">
                                    </div>
                                </div> <!--row end-->
                                <!--row2 below contact-->
                                <div class="row mb-md-3 ml-md-3 mr-md-3">
                                    <div class="col-md-12">
                                        <div class="row border-bottom">
                                            <div class="col-md-3" style="border-right: 2px solid rgb(223, 138, 28);"><i
                                                    class="fa-solid fa-location-dot"></i></div>
                                            <div id="l" class="col-md-9 text-white">h#7,s#23 abdullah park chah miran
                                                lahore</div>
                                        </div>
                                        <div class="row border-bottom mt-md-2">
                                            <div class=" col-md-3" style="border-right: 2px solid rgb(223, 138, 28);"><i
                                                    class="fa-solid fa-phone-volume"></i></div>
                                            <div id="p" class="col-md-9 text-white">03364240381</div>
                                        </div>
                                        <div class="row border-bottom mt-md-2">
                                            <div class=" col-md-3" style="border-right: 2px solid rgb(223, 138, 28);"><i
                                                    class="fa-regular fa-envelope"></i></div>
                                            <div id="e" class="col-md-9 text-white">mahnoorwaheed63@gmail.com

                                            </div>
                                        </div>
                                        <div class="row border-bottom mt-md-2">
                                            <div class=" col-md-3" style="border-right: 2px solid rgb(223, 138, 28);"><i
                                                    class="fa-brands fa-chrome"></i></div>
                                            <div id="w" class="col-md-9 text-white ml-md-0">www.mahnoorwaheed.com

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--row end-->

                            <!--education row start-->
                            <div class="row mt-md-3">

                                <div class="row"> <!--row start-->
                                    <div class="col-md-12">
                                        <h3 class="ml-md-3" id="h3">Education</h3>
                                        <hr color="white" class="w-25 mt-md-0 ml-md-3">
                                    </div>
                                </div> <!--row end-->
                            </div>
                            <!--education part 1-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" > <!--row start-->
                                        <p class="col-md-12 mb-md-0 text-white" id="G_year">2018-2022</p>
                                    </div> <!--row end-->
                                    <div class="row" > <!--row start-->
                                        <p class="col-md-12 mb-md-0"  id="G_degree" style="color:rgb(223, 138, 28);">Bscs</p>
                                    </div> <!--row end-->
                                    <div class="row" > <!--row start-->
                                        <p class="col-md-12 text-white"  id="uni">NCBA&E</p>
                                    </div> <!--row end-->
                                    <!-- line
                                <hr color="grey" class="w-25"/> -->

                                </div><!--col-md-12 end-->
                            </div><!--row end-->
                            <!--education part 2-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row"> <!--row start-->
                                        <p class="col-md-12 mb-md-0 text-white" id="i_year">2016-2018</p>
                                    </div> <!--row end-->
                                    <div class="row"> <!--row start-->
                                        <p class="col-md-12 mb-md-0" id="i_degree" style="color:rgb(223, 138, 28);">ICS</p>
                                    </div> <!--row end-->
                                    <div class="row"> <!--row start-->
                                        <p class="col-md-12 text-white" id="i_clg">PGC</p>
                                    </div> <!--row end-->
                                    <!-- line
                            <hr color="grey" class="w-25"/> -->
                                </div><!--col-md-12 end-->
                            </div><!--row end-->
                            <!--education part 3-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row"> <!--row start-->
                                        <p class="col-md-12 mb-md-0 text-white" id="m_year">2016</p>
                                    </div> <!--row end-->
                                    <div class="row"> <!--row start-->
                                        <p class="col-md-12 mb-md-0" id="m_degree" style="color:rgb(223, 138, 28);">C-S</p>
                                    </div> <!--row end-->
                                    <div class="row"> <!--row start-->
                                        <p class="col-md-12 text-white" id="m_school">LGS</p>
                                    </div> <!--row end-->
                                    <!-- line
                            <hr color="grey" class="w-25"/> -->
                                </div><!--col-md-12 end-->
                            </div><!--row end-->
                        </div><!--education row end-->

                        <!--skills-->
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="row">
                            <div class="col-md-4">
                                <h3 class="ml-md-2">Skills</h3>
                                <hr color="white" class="mt-md-0 ml-md-2" width="30">
                            </div>
                            <div class="col-md-8">
                            <div class="progress mt-md-2 ml-md-3" style="width:60%">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%; background-color: rgb(223, 138, 28);"></div>
                                 </div>
                            </div>
                        </div>
                            </div>
                        </div> <!--row end-->
                        <div class="row m-mdt-3 mb-md-5">
                            <div class="col-md-6">
                                <ul id="skill">
                                    <!-- <li>html5</li> -->
                                    <!-- <li>css3</li> -->
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div id="skillbar">
                                    <!-- <div class="progress mt-2 ml-3" style="width:60%">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            style="width:70%; background-color: rgb(223, 138, 28);"></div>
                                    </div> -->
                                </div>
                            </div>

                        </div> <!--row end-->

                    </div> <!--container div of row-->
                </div><!--side bar end-->
            </div><!--row end-->

            <!--content design-->
            <div class="col-md-8" id="partition">
                <div class="container">
                    <div class="row mt-md-5">
                        <h3 class="col-md-12">ABOUT ME</h3>
                        <hr color="black" class=" mt-md-0 ml-md-3" width="60">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p id="about_me">We face a world that is far different from our ancestor’s world. But we have the
                                potential to understand and solve the problems of today, many of which are man-made, if
                                we first understand who we are, and how the past has made us. We must know what is
                                unchanging about human nature and recognize what we can and must consciously change to
                                ensure the future for ourselves and our planet.<br/>

                                 Human Journey is the journey of the human mind, how it developed, the world it made
                                and the problems it solved, why and how it solved them; and how those solutions affected
                                its evolution and subsequent decisions.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>WORK EXPERIENCE</h3>
                            <hr color="black" class=" mt-md-0 ml-md-3" width="60">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="work_year">2020-2024</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="color:rgb(223, 138, 28);" id="work_as-a">Developer Assistant</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="technologies">IT Technologies</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="work_detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus
                                        commodi voluptatem expedita corrupti modi deserunt officia. Officiis voluptate
                                        voluptas pariatur quibusdam esse! Asperiores consectetur tenetur nobis totam,
                                        exercitationem veniam!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="work_points">
                                        <!-- <li>Lorem ipsum dolor sit, amet consectetur</li>
                                        <li>adipisicing elit. Ipsum omnis</li> 
                                        <li>doloremque doloribus ipsa nihil facilis </li>
                                        <li>id quas distinctio repellendus quo</li> -->
                                           
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--work exp row 2-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="wy2">2024-2025</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="color:rgb(223, 138, 28);" id="waa2">Sales Assistant</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="wt2">Marketing Technologies</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="wd2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus
                                        commodi voluptatem expedita corrupti modi deserunt officia. Officiis voluptate
                                        voluptas pariatur quibusdam esse! Asperiores consectetur tenetur nobis totam,
                                        exercitationem veniam!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="wp2">
                                        <!-- <li>Lorem ipsum dolor sit, amet consectetur</li>
                                        <li>adipisicing elit. Ipsum omnis</li> 
                                            <li>doloremque doloribus ipsa nihil facilis </li>
                                            <li>id quas distinctio repellendus quo</li> -->
                                           
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h3>REFERENCES</h3>
                            <hr color="black" class=" mt-0 ml-3" width="60">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul id="ref_1">
                                <!-- <li style="color:rgb(223, 138, 28);">Mr Stephen Hawking</li>
                                <li>Buisnes Tycon</li>
                                <li>p+03004433180 </li>
                                <li>hawking@gmail.com</li> -->
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul id="ref_2">
                                <!-- <li style="color:rgb(223, 138, 28);" >Mr Henry Moore</li>
                                <li>Moore Company</li>
                                <li>p+ 03004433180</li>
                                <li>moore@gmail.com</li> -->
                            </ul>
                        </div>

                    </div>
                </div><!--container of col-md-8-->
            </div>








        </div>
        
    
    </div><!-- container very 1st row-->



    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <!-- <script src="resume.js"></script> -->
      <!---jquery internal file-->
      <script src="resume.js"></script>
</body>

</html>